
.allProjects{
    margin-top: 100px;
}

.allProjects h2{
    font-size: 40px;
    color: aliceblue;
    text-shadow: 5px 2px 5px black;
}

    .containerProjects{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 80px;
        padding-bottom: 100px;
    }

        .project{
            color: white;
            text-align: center;
        }