
.containerSobre{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
}

    .containerSetaH2{
        width: 95%;
        display: flex;
        justify-content: space-between;
    }

        .seta{
            height: 50px;
            width: 50px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.534);
            border-radius: 20px;
        }

            .setaLeft::before{
                content: '';
                display: block;
                width: 7px;
                height: 7px;
                box-sizing: border-box;
                border-top: 10px solid transparent;
                border-right: 30px solid rgb(255, 226, 108);
                border-bottom: 10px solid transparent;
            }

            .containerSobre h2{
                height: 40px;
                line-height: 40px;
                width: 240px;
                color: aliceblue;
                text-align: center;
                font-size: 40px;
                font-weight: 700;
                text-shadow: 5px 2px 5px black;
            }

            .setaRight::after{
                content: '';
                display: block;
                width: 7px;
                height: 7px;
                box-sizing: border-box;
                border-top: 10px solid transparent;
                border-left: 30px solid rgb(255, 226, 108);
                border-bottom: 10px solid transparent;
            }

        .lineCarrosel{
            height: 2px;
            width: 95%;
            background-color: rgb(255, 226, 108);
            margin-top: 10px;
        }

        .containerLine{
            width: 100%;
            display: flex;
            justify-content: space-around;
        }

            .itemLine{
                display: flex;
            }

                .lineConnect{
                    width: 50px;
                    height: 50px;
                }

                    .left{
                        border-right: 2px dashed rgb(255, 226, 108);
                    }
        
        .containerStars{
            width: 100%;
            display: flex;
            justify-content: space-around;
        }

            .itemStar{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 110px;
                height: 100px;
            }
        
        .containerDescription{
            background-color: rgba(255, 226, 108, 0.452);
            box-shadow: rgba(0, 0, 0, 0.671) 5px 5px 5px 1px;
            color: black;
            text-align: justify;
            margin-top: 150px;
            padding: 20px 20px;
            font-size: 19px;
            font-weight: 600;
            text-indent: 25px;
            line-height: 1.3;
            max-width: 650px;
            border-radius: 10px;
        }

        .lineDivision{
            height: 5px;
            width: 90%;
            border-bottom: 1px solid rgb(173, 166, 166);
            margin-bottom: 150px;
            margin-top: 150px;
        }

        